* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", serif !important;
}

p {
  font-family: "Rubik", serif !important;
}

li {
  font-family: "Rubik", serif !important;
}

a {
  font-family: "Montserrat", serif !important;
}

nav .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}
nav button {
  background-color: #CD6C03;
  padding: 5px 10px;
  border: none;
}
nav button a {
  text-decoration: none;
  color: #fff;
}

.about {
  padding: 50px 0px;
}
.about h1 {
  font-size: 42px;
  font-weight: 500;
  font-style: normal;
}
.about button {
  background-color: #CD6C03;
  padding: 5px 20px;
  border: none;
  color: #fff;
}
.about button a {
  text-decoration: none;
  color: #fff;
}

.amenities {
  padding: 50px 0px;
  background: #FED7AE;
}
.amenities .col-box {
  background-color: #fff;
  padding: 30px 20px;
}

.floor-plan {
  padding: 40px 0px;
}
.floor-plan .col-box {
  padding-bottom: 20px;
  background-color: rgb(230, 228, 228);
}
.floor-plan button {
  background-color: #CD6C03;
  padding: 5px 10px;
  border: none;
  color: #fff;
}
.floor-plan button a {
  color: #fff;
  text-decoration: none;
}

.gallery {
  padding: 50px 0px;
  background-color: #FED7AE;
}
.gallery h2 {
  font-weight: 600;
  text-align: center;
}

.location h3 {
  color: #CD6C03;
  font-weight: 600;
}

.testimonials {
  background-color: #FED7AE;
  padding: 50px 0px;
}
.testimonials .swiper-slide {
  height: 100%;
  padding: 10px;
  text-align: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-cover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../Images/Banner_contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px;
}
.form-cover h6 {
  color: #CD6C03;
  font-weight: 700;
}
.form-cover h2 {
  color: #fff;
  font-weight: 500;
}
.form-cover p {
  color: #fff;
}
.form-cover p a {
  text-decoration: none;
  color: #fff;
}
.form-cover .form-box {
  background-color: #fff;
  padding: 40px 10px;
}
.form-cover .form-box input {
  border: 1px solid #000;
  width: 100%;
  padding: 10px;
  font-family: "Rubik", serif !important;
}
.form-cover .form-box textarea {
  width: 100%;
  padding: 10px;
  font-family: "Rubik", serif !important;
}
.form-cover .form-box button {
  background-color: #CD6C03;
  padding: 10px 30px;
  border: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.call-btn {
  display: none;
}
@media (max-width: 991px) {
  .call-btn {
    position: fixed;
    z-index: 99999;
    display: block;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
}
.call-btn button {
  background-color: #CD6C03;
  padding: 8px 5px;
  width: 100%;
  border: 1px solid #fff;
  color: #fff;
}
.call-btn button a {
  text-decoration: none;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999999;
}

.form-container {
  position: fixed;
  top: 55%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  background-position: center;
  background-size: cover;
  padding: 20px 120px;
  border-radius: 5px;
  display: none;
  z-index: 999999;
}

.form-container button:hover {
  background-color: white;
  color: black;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.popup_form .cross {
  background-color: #19382B;
  color: #fff;
}
.popup_form .cross:hover {
  background-color: #19382B;
  color: #fff;
}

.popup_form label {
  color: #000;
  font-family: "Futura Md BT";
  font-size: 18px;
}

.popup_form input {
  font-family: "Futura Md BT";
  font-size: 14px;
  color: #53626a;
}

.popup_form textarea {
  font-family: "Futura Md BT";
  font-size: 14px;
  color: #53626a;
}

.popup_form h5 {
  color: #000;
  font-family: "Futura Md BT";
  font-size: 24px;
}

.popup_form h6 {
  color: #000;
  font-family: avalon-bold;
  font-size: 15px;
  text-align: center;
}

.popup_form button {
  background-color: #CD6C03;
  color: #fff;
  font-family: "Futura Md BT";
  font-weight: 500;
}
.popup_form button:hover {
  border: 1px solid #CD6C03;
}

@media (max-width: 576px) {
  .form-container {
    top: 50%;
    width: 100%;
    padding: 50px 60px;
  }
  .btn_brochure {
    background-color: #1e1916;
    padding: 5px 0 20px 0;
    margin-top: -5px;
  }
}/*# sourceMappingURL=style.css.map */